body{
    background: url("../images/background.jpg");
    background-size: auto;
    background-position: right top;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

footer{
    bottom: 0;
    left: 0;
    text-align: end;
    width: 100%;
    position: fixed;
    padding: 10px;
    color: #573601;
}